@media screen and (max-width: 576px) {
   

    #student{
        background-image: url('student.png');
        border-color: 1px solid blue;
        border-radius: 25px;
        height:350px;
        width:95%;
        background-size: cover;
        
        margin-left: auto;
        margin-right: auto;
        
            }
        
        #studentbox{
            PADDING:3%;background-color:white;border-radius:25px;opacity:0.6;
            width:100%;
            position: relative;
            font-size:12px;
            margin-left:1%;
        top:190px;
        
        }
            
        #buttons{
        position:relative;
        top:1%;
        float:right;
        top:180px;
        margin-bottom:5%;
        margin-top:8%;
        margin-left: auto;
        margin-right: auto;
        }
        
        #button1{
            background-color: white;
            border:2px solid #4da6ff;
            color:#4da6ff;
            height: 60px;;
            width:100%;
            margin-bottom:2px;
            border-radius: 10px;
            font-size:22px;
            font-family: "Berkshire Swash";
        transition: 1s;
        
        }
        #button1:hover{
            border-radius: 25px;
            background-color: #009999;
            border:2px solid #4da6ff;
            color:white;
        
        }
        #button2{
            background-color: #4da6ff;
            border:2px solid #4da6ff;
            color:white;
            height:60px;
            width:100%;
            border-radius: 10px;
            font-size:22px;
            transition: 1s;
            font-family: "Berkshire Swash";
        }
        #button2:hover{
            background-color:#009999;
        color:white;
        border:2px solid #4da6ff;
        border-radius: 25px;
        }
        
        .vl {
            border: 3px solid grey;
            height: 100px;
            
          }
        























    #header {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        width:100%;
       background-color:#4da6ff;
       margin-bottom:5%;
      }
      
#brand{
    padding:6px 2px;
}
      #logo{
          height: 40px;
          width:100px;
    
      }
      #logoimg{
          height:30px;
          width:50px;
      }
      #cart{
       height:30px;
       width:50px;   
      }
      #profile{
        height:30px;
        width:50px;     
       }
       
     
  
      
      li{
          height:100%;
      }

      .menuitem {
        float: left;
        margin-top: auto;
      margin-bottom: auto;
      height: 100%;
      
      }
      
      .menuitem a {
    font-size: 25px;
    font-family: 'Berkshire Swash';
        display: block;
        color: white;
        height: 100%;
        text-align: center;
        padding: 9px 0px;
        margin-top: auto;
        margin-bottom: auto;
        text-decoration: none;
      }
      
      li a:hover {
        background-color:#0080ff;
        text-decoration: none;
        color:white;
      }
    
    
    }